<div class="margin">
    @model PagedList.IPagedList<KipparitRy2._0.Models.Rekisteroitymiset>
    @using PagedList.Mvc;
    <link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

    @{
        ViewBag.Title = "Index";
    }

    <style>
        @@media (max-width: 400px) {
            .btn-group1 {
                cursor: pointer; /* Pointer/hand icon */
                width: 50%; /* Set a width if needed */
                display: block; /* Make the buttons appear below each other */
                float: right;
            }
            .table {
                max-width: 100%;
                height: auto;
                margin-left: -8%;
            }
        }
    </style>

    <h2>Ilmoittautumiset</h2>

    @using (Html.BeginForm("Index", "Rekisteroitymiset", FormMethod.Get))
    {
        <div class="input-group">
            @*Tämä tulostaa paragrafit rinnakkain, eikä erilleen*@
            @*px-1 meinaa, että ympärillä on paddingiä/tilaa*@
            <p class="px-1">@Html.Label("Etsi asiakkaan nimellä:")</p> @*Otsikko*@
            <p class="px-1">@Html.TextBox("SearchString", ViewBag.currentFilter as string, new { @class = "form-control" })</p> @*Tällä nimellä kontrolleri näkee mitä tekstiboksiin on syötetty *@
            <p class="px-1"><input type="submit" value="Etsi" class="form-control" /></p> @*buttoni*@
        </div>
    }
    <p>
        <a class="btn btn-primary" href="~/Rekisteroitymiset/Create/">Lisää asiakas tilaisuuteen</a>
    </p>
    <table class="table table-striped">
        <tr>
            <th class="asiakas">Asiakas</th>
            <th>
                Tilaisuus
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td class="asiakas">@Html.DisplayFor(modelItem => item.Asiakkaat.Nimi)</td>
                <td>@Html.DisplayFor(modelItem => item.Tilaisuudet.Nimi)</td>

                <td align="right" class="btn-group1">
                    <a class="btn btn-primary" style="margin:2px;" href="~/Rekisteroitymiset/Edit/@item.RekisterointiID"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                    <a class="btn btn-primary" style="margin:2px;" href="~/Rekisteroitymiset/Details/@item.RekisterointiID"><i class="fa fa-list" aria-hidden="true"></i></a>
                    <a class="btn btn-danger" style="margin:2px;" href="~/Rekisteroitymiset/Delete/@item.RekisterointiID"><i class="fa fa-times" aria-hidden="true"></i></a>
                </td>
            </tr>
        }

    </table>

    @*Sivuttaminen eli sivujen lukumäärä*@
    Sivu @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount

    @*Seuraavan sivun klikkaus*@
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.currentFilter }))
</div>