<div class="margin">
    @model PagedList.IPagedList<KipparitRy2._0.Models.Rekisteroitymiset>
    @using PagedList.Mvc;
    <link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

    @{
        ViewBag.Title = "Index";
    }

    <style>
        @@media (max-width: 767px) {
            .asiakas {
                display: none;
            }

            .btn {
                margin: 2px;
            }
        }

        .table {
            max-width: 100%;
            height: auto;
            margin-left: -5%;
        }
    </style>

    <h2>Rekisteröitymiset</h2>

    @using (Html.BeginForm("Index", "Rekisteroitymiset", FormMethod.Get))
    {
        <div class="input-group">
            @*Tämä tulostaa paragrafit rinnakkain, eikä erilleen*@
            @*px-1 meinaa, että ympärillä on paddingiä/tilaa*@
            <p class="px-1">@Html.Label("Etsi asiakkaan nimellä:")</p> @*Otsikko*@
            <p class="px-1">@Html.TextBox("SearchString", ViewBag.currentFilter as string, new { @class = "form-control" })</p> @*Tällä nimellä kontrolleri näkee mitä tekstiboksiin on syötetty *@
            <p class="px-1"><input type="submit" value="Etsi" class="form-control" /></p> @*buttoni*@
        </div>
    }
    <p>
        @*@Html.ActionLink("Luo uusi rekisteröityminen", "Create")*@
        <a class="btn btn-primary" href="~/Rekisteroitymiset/Create/">Lisää asiakas tilaisuuteen</a>
    </p>
    <table class="table table-striped">
        <tr>
            <th class="asiakas">Asiakas</th>
            <th>
                @Html.ActionLink("Tilaisuus", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.currentFilter })
                @*@Html.DisplayNameFor(model => model.Tilaisuudet.Nimi)*@
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td class="asiakas">@Html.DisplayFor(modelItem => item.Asiakkaat.Nimi)</td>
                <td>@Html.DisplayFor(modelItem => item.Tilaisuudet.Nimi)</td>

                <td align="right">
                    <a class="btn btn-primary" href="~/Rekisteroitymiset/Edit/@item.RekisterointiID"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                    <a class="btn btn-primary" href="~/Rekisteroitymiset/Details/@item.RekisterointiID"><i class="fa fa-list" aria-hidden="true"></i></a>
                    <a class="btn btn-danger" href="~/Rekisteroitymiset/Delete/@item.RekisterointiID"><i class="fa fa-times" aria-hidden="true"></i></a>

                    @*@Html.ActionLink("Muokkaa", "Edit", new { id=item.RekisterointiID }) |
                        @Html.ActionLink("Lisätiedot", "Details", new { id=item.RekisterointiID }) |
                        @Html.ActionLink("Poista", "Delete", new { id=item.RekisterointiID })*@
                </td>
            </tr>
        }

    </table>

    @*Sivuttaminen eli sivujen lukumäärä*@
    Sivu @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount

    @*Seuraavan sivun klikkaus*@
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.currentFilter }))
</div>