@model KipparitRy2._0.Models.Rekisteroinutasiakas

@{
    ViewBag.Title = "Kotisivu";
}

<div class="jumbotron">
    <h2>@ViewBag.Title</h2>
    <h1>Itserekisteröityminen tilaisuuteen</h1>
    <p class="lead">Rekistöröidy tilaisuuteen!</p>
    @*<p><a href="~/Home/create" class="btn btn-primary btn-lg">Rekisteröidy &raquo;</a></p>*@

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                @Html.LabelFor(model => model.Nimi, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Nimi, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Nimi, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Sposti, "Sähköposti", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Sposti, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Sposti, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Osoite, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Osoite, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Osoite, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Postitoimipaikat.Postitoimipaikka, "Postitoimipaikka", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.Postitoimipaikat.Postitoimipaikka, (SelectList)ViewBag.PostiLista, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Postitoimipaikat.Postitoimipaikka, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Tilaisuudet.TilaisuusID, "Tilaisuus", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("TilaisuusID", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Tilaisuudet.TilaisuusID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Lisää" class="btn btn-success" />
                </div>
            </div>
        </div>
    }
</div>


@{
    Html.RenderPartial("_LoginModal");
}