<div class="margin">
    @model KipparitRy2._0.Models.Asiakkaat

    @{
        ViewBag.Title = "Create";
    }

    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />

    @section scripts {
        @Scripts.Render("~/bundles/jqueryval")
        <script src="~/Scripts/jquery-ui-1.13.0.min.js"></script>

        <script type="text/javascript">
        @**$('#RekisterointiPvm').datetimepicker({ footer: true, modal: false, format: 'dd.mm.yyyy HH:MM', uiLibrary: 'bootstrap4' });*@
        $(function () {
            $('.datepicker').datepicker({
                format: "mm/dd/yyyy",
                @*dateFormat: "yy/mm/dd",*@
                changeMonth: true,
                changeYear: true
            });
        });
        </script>
    }

    <style>
        .field-validation-valid {
            display: none;
        }
        .validation-summary-valid {
            display: none;
        }
    </style>

    <h2>Lisää</h2>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.Nimi, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Nimi, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Nimi, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Sposti, "Sähköposti", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Sposti, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Sposti, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Osoite, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Osoite, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Osoite, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.PostiID, "Postitoimipaikka", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.PostiID, (SelectList)ViewBag.PostiLista, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.PostiID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.RekisterointiPvm, "Liittymispäivä", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.RekisterointiPvm, new { htmlAttributes = new { @class = "datepicker" } })
                    @Html.ValidationMessageFor(model => model.RekisterointiPvm, "Tuntematon päivämäärä.", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Lisää" class="btn btn-success" />
                </div>
            </div>
        </div>
    }

    <div>
        <p><a class="btn btn-primary" href="~/Asiakkaat/">Takaisin listaan</a></p>
    </div>

</div>