<div class="margin">
    @model KipparitRy2._0.Models.Asiakkaat
    @{
        ViewBag.Title = "Details";
    }

    <h2>Tiedot</h2>

    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>@Html.DisplayNameFor(model => model.Nimi)</dt>
            <dd>@Html.DisplayFor(model => model.Nimi)</dd>
            <dt>Sähköposti</dt>
            <dd>@Html.DisplayFor(model => model.Sposti)</dd>
            <dt>@Html.DisplayNameFor(model => model.Osoite)</dt>
            <dd>@Html.DisplayFor(model => model.Osoite), @Html.DisplayFor(model => model.Postitoimipaikat.Postinumero), @Html.DisplayFor(model => model.Postitoimipaikat.Postitoimipaikka)</dd>
            <dt>Liittymispäivä</dt>
            <dd>@Html.DisplayFor(model => model.RekisterointiPvm)</dd>
        </dl>
    </div>
    <p>
        <a class="btn btn-success" href="~/Asiakkaat/Edit/@Model.AsiakasID">Muokkaa</a>
        <a class="btn btn-primary" href="~/Asiakkaat/">Takaisin listaan</a>
    </p>

</div>