<div class="margin">
    @model PagedList.IPagedList<KipparitRy2._0.Models.Asiakkaat>
    @using PagedList.Mvc;
    <link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

    @{
        ViewBag.Title = "Index";
    }

    <style>
        @@media (max-width: 992px) {
            .sposti, .osoite {
                display: none;
            }
            .table {
                max-width: 100%;
                height: auto;
            }
        }
    </style>

    <h2>Asiakkaat</h2>

    @using (Html.BeginForm("Index", "Asiakkaat", FormMethod.Get))
    {
        <div class="input-group">
            <p class="px-1">@Html.Label("Etsi asiakkaan nimellä:")</p> 
            <p class="px-1">@Html.TextBox("SearchString", ViewBag.currentFilter as string, new { @class = "form-control" })</p> @*Tällä nimellä kontrolleri näkee mitä tekstiboksiin on syötetty *@
            <p class="px-1"><input type="submit" value="Etsi" class="form-control" /></p>
        </div>
    }

    <a class="btn btn-primary" href="~/Asiakkaat/Create/">Lisää uusi asiakas</a>
    <br /><br />
    <table class="table table-striped">
        <tr>
            <th>@Html.ActionLink("Liittymispäivä", "Index", new { sortOrder = ViewBag.DateSortParm, currentFilter = ViewBag.currentFilter })</th>
            <th>
                @Html.ActionLink("Nimi", "Index", new { sortOrder = ViewBag.CustomerNameSortParm, currentFilter = ViewBag.currentFilter })
            </th>
            <th class="sposti">Sähköposti</th>
            <th class="osoite">Osoite</th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.ValueFor(modelItem => item.RekisterointiPvm, "{0:d}")</td>
                @*<td>@Convert.ToDateTime(item.RekisterointiPvm).ToString("dd.MM.yyyy")</td>*@
                <td>@Html.DisplayFor(modelItem => item.Nimi)</td>
                <td class="sposti">@Html.DisplayFor(modelItem => item.Sposti)</td>
                <td class="osoite">@Html.DisplayFor(modelItem => item.Osoite), @Html.DisplayFor(modelItem => item.Postitoimipaikat.Postinumero), @Html.DisplayFor(modelItem => item.Postitoimipaikat.Postitoimipaikka)</td>
                <td align="right" class="btn-group-vertical" style="padding: 2px;">
                    <a class="btn btn-primary" style="margin:2px;" href="~/Asiakkaat/Edit/@item.AsiakasID"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                    <a class="btn btn-primary" style="margin:2px;" href="~/Asiakkaat/Details/@item.AsiakasID"><i class="fa fa-list" aria-hidden="true"></i></a>
                    <a class="btn btn-danger" style="margin:2px;" href="~/Asiakkaat/Delete/@item.AsiakasID"><i class="fa fa-times" aria-hidden="true"></i></a>
                </td>
            </tr>
        }
    </table>

    @*Sivuttaminen eli sivujen lukumäärä*@
    Sivu @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount

    @*Seuraavan sivun klikkaus*@
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.currentFilter }))

</div>