<div class="margin">
    @model KipparitRy2._0.Models.Tilaisuudet

    @{
        ViewBag.Title = "Delete";
    }

    <h2>Poista tilaisuus</h2>

    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>Tilaisuus</dt>
            <dd>@Html.DisplayFor(model => model.Nimi)</dd>
            <dt>Päivämäärä</dt>
            <dd>@Html.DisplayFor(model => model.Pvm)</dd>
            <dt>Max osallistujat</dt>
            <dd>@Html.DisplayFor(model => model.MaxMaara)</dd>
            <dt>Järjestäjä</dt>
            <dd>@Html.DisplayFor(model => model.Jarjestaja)</dd>
        </dl>

        <div class="text-danger">
            @ViewBag.Error
            <p>

            </p>
        </div>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Poista" class="btn btn-danger" /> |
                <a class="btn btn-primary" href="~/Tilaisuudet/">Takaisin listaan</a>
            </div>
        }
    </div>
</div>